.page{
  width: 100%;
}
body{
background: linear-gradient(to bottom,black 0%,#ffffff 100%);
}
.output{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}
.box{
  width: 100%;
  background-color: transparent;
  display: flex;
  border-radius: 20px;
  font-size: 1.5vw;
}
.box:hover{
  transform: scale(1.06);
  text-decoration: none;
  transform-style: flat;
  transition: 0.3s;
background: linear-gradient(to left, black -10%, #ffffff 70%);
  color: silver;
  font-size: 1.7vw;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.19);
}
.leftdiv{
  width: 50%;
  left: 0;
  padding: 10px;
}
.rightdiv{
  color: #1b1b1b;
  padding: 15px;
  width: 50%;
  right: 0;
}
a{
  text-transform: none;
}
#list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.header h1 { text-shadow: 10px 10px 10px black;
  color: silver; font-family: 'Helvetica Neue', sans-serif; font-size: 15vw; font-weight: bold; letter-spacing: -1vw; line-height: 1; text-align: center; }
.header p { color: #e3e3e3; font-family: 'Open Sans', sans-serif; font-size: 3vw; font-weight: 300; margin: 1vw 0 2vw; text-align: center; }
.header{
  background: url('top-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.searchBox{
  border-radius: 10px;
  width: 40%;
  margin: auto;
  position: relative;
  display: flex;
  margin-bottom: 28px;
  font-family: 'Helvetica', 'Arial',sans-serif;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}
.inputbox{
  border: 4px solid #1b1b1b;
  border-right: none;
  font-size: 2vw;
  height: 6vw;
  border-radius: 10px 0 0 10px;
  width: 70%;
  left: 0;
}
.buttonbox{
  border: 4px solid #1b1b1b;
  border-left: none;
  padding: 1vw;
  font-size: 2vw;
  height: 6vw;
  border-radius: 0 10px 10px 0;
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  width: 30%;
  right: 0;
}
.buttonbox:hover{
  background-color: silver;
  color: black;

  transition: .5s;
}
a:hover{
  text-transform: none;
}
.imageicons{
  height: 10vw;
  left: 50%;
  right: 50%;
}
.footer{
  margin-top: 20px;
  background-color: transparent;
  width: 100%;
  padding: 20px;
  bottom: 0;
}
.innerfooter{
  color: black;
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 1.5vw;
}
.innerfooter h1{
  text-shadow: 2px 2px 3px black;
  color: silver; font-family: 'Helvetica Neue', sans-serif; font-size: 4vw; font-weight: bold; letter-spacing: -0.3vw; line-height: 1; text-align: center; }
}
